

<h1 style="color: blue">Bienvenu sur l outil de gestion des clients et fournisseurs de notre entreprise </h1>
<br>

<ul>

        <li> <a href="/customer"> clients </a> </li>
        <li> <a href="/supplier"> fournisseurs </a> </li>
</ul>

<p> La data date daujourdhui: 
        <%= @var %>








